@model Domain.Models.Doador
@using Domain.Enum
@{
    ViewData["Title"] = "Perfil do doador";
    List<Doacao> doacoes = ViewBag.doacoes;
}
<style>
    .invisivel {
        display: none;
    }
</style>



<h2>Perfil do doador</h2>
<hr />
<div class="row">
    <div class="col-md-4 mx-auto">
        <form asp-action="cadastrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="IdDoador" id="inputId" class="form-control" readonly hidden />
            </div>
            <div class="form-group">
                <label asp-for="NomeCompleto" class="control-label">Nome Completo</label>
                <input asp-for="NomeCompleto" id="inputNome" class="form-control" readonly />
                <span asp-validation-for="NomeCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label">CPF</label>
                <input asp-for="Cpf" id="inputCpf" class="form-control" readonly />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoCivil" class="control-label">Estado Civil</label>
                <select asp-for="EstadoCivil" id="selectEstadoCivil" asp-items="Html.GetEnumSelectList<EstadoCivil>()" class="form-control" disabled></select>
                <span asp-validation-for="EstadoCivil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label">Gênero</label>
                <select asp-for="Genero" id="selectGenero" asp-items="Html.GetEnumSelectList<Genero>()" class="form-control" disabled></select>
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoSanguineo" class="control-label">Tipo Sanguineo</label>
                <input asp-for="TipoSanguineo" class="form-control" placeholder="Aguardando Exame Laboratorial" readonly />
            </div>
            <div id="botoes" class="row">
                <div class="form-group mr-auto ml-3">
                    <input id="btn-editar-perfil" type="submit" value="Editar perfil" class="btn btn-default" />
                </div>

                <div class="form-group mr-auto ml-3 invisivel">
                    <input asp-controller="doador" asp-action="alterar" type="submit" value="Salvar Perfil" class="btn btn-primary" id="btn-salvar-perfil" />
                </div>

                <div class="form-group ml-auto mr-3">
                    <a class="btn btn-default" asp-controller="doacao" asp-action="cadastrar">
                        Nova Doação
                    </a>
                </div>
            </div>

            @* Tabela de doações *@
            <table style="margin-bottom:15px;margin-top:15px"
                   class="table table-hover table-striped">
                <thead>
                    <tr class="table-active">
                        <th># Doação</th>
                        <th>Data</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Doacao item in doacoes)
                    {
                        <tr>
                            <td>@item.IdDoacao</td>
                            <td>@item.DataDoacao</td>
                            <td>@item.StatusDoacao </td>
                            <td>
                                <a class="btn btn-primary" asp-action="Remover" asp-route-id="@item.IdDoacao">Remover</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" asp-action="Alterar" asp-route-id="@item.IdDoacao">Alterar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
</div>
<script>
    const botaoEditar = document.getElementById('btn-editar-perfil');
    const botaoSalvar = document.getElementById('btn-salvar-perfil');
    botaoEditar.addEventListener('click', event => {
        event.preventDefault();

        // Habilita campos para edição.
        document.getElementById("inputNome").removeAttribute('readonly');
        document.getElementById("inputCpf").removeAttribute('readonly');
        document.getElementById("selectEstadoCivil").removeAttribute('disabled');
        document.getElementById("selectGenero").removeAttribute('disabled');

        // Esconde o botão EDITAR PERFIL
        botaoEditar.parentNode.classList.add('invisivel');

        // Mostra o botão SALVAR PERFIL
        botaoSalvar.parentNode.classList.remove('invisivel');

        // Desativa o botão NOVA DOAÇÃO
        document.getElementById("btn-nova-doacao").setAttribute('disabled', true);
    })
</script>
